@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
    --default-font-family: "Poppins", sans-serif;
    --breakpoint-3xl: 1920px;
}

@layer base {
    html {
        font-family: var(--default-font-family);
        scroll-behavior: smooth;
    }

    body {
        overflow-x: hidden;
    }
}

@keyframes wave {
    0%,
    100% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(20deg);
    }

    40% {
        transform: rotate(-15deg);
    }

    60% {
        transform: rotate(20deg);
    }

    80% {
        transform: rotate(-15deg);
    }
}

.wave-hand {
    display: inline-block;
    transform-origin: 70% 70%;
    animation: wave 3s infinite;
}